/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 토스트 UI 에디터에 폰트 적용 */
html > body .ProseMirror,
html > body .toastui-editor-contents,
html > body .toastui-editor-defaultUI {
  font-family: var(--base-font-family);
  font-size: 10rem;
}
